# Dependencias (¡Lo más importante!)
node_modules

# Carpetas de construcción (builds)
dist
dist-ssr

# Archivos de entorno (contraseñas, APIs)
.env
.env.local
.env.*.local

# Logs de errores
logs
*.log
npm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db